* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1F1F1F;
    padding: 0;
}

.container {
    min-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}


@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.header {
    background-color: #fff;
    border-bottom: solid 1px #FDA3C4;
    padding: 5px 0 0;
}
.top-row,
.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 69px;
    height: 17px;
    margin-right: 72px;
    margin-bottom: 7px;
}

.nav-menu,
.new-items,
.contact-address-link,
.header-location,
.location,
.contact-address-link,
.heard,
.bag {
    display: none;
}
li .contact-tel{
    display: inline-block;
    font-style: italic;
    font-weight: 600;
    font-size: 8px; 
    color: #FDA3C4;
}
.contact-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.serch {
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 5px;
}
@media screen and (min-width: 480px) {
     .logo {
        width: 82px;
        height: 21px;
        margin-top: 9px;
        margin-right: 140px;
        margin-bottom: 16px;
    }
    .contact-address {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
    .phone {
        width: 16px;
        height: 16px;
    }
    .serch {
        width: 24px;
        height: 24px;
        margin-top: 7px;
        margin-left: 74px;
    }
    li .contact-tel {
        font-weight: 700;
        font-size: 10px;
     }
}
@media screen and (min-width: 768px) {
    .header-container{
        min-height: 103px;
    }
    .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 113px;
        height: 29px;
        text-align: center;
    }
        .contact-address-list {
            display: flex;
            flex-direction:column;
            justify-content: space-between;
            align-items: flex-start;
        }
        .location {
            display: flex;
        }
    .contact-address-link {
        display: flex;
        font-weight: 700;
        font-size: 11px;
        color: #FDA3C4;
    }
    .contact-address-item {
        display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
    }
        .contact-phone {
            gap: 8px;
        }
         .phone {
             width: 20px;
             height:20px;
         }
         li .contact-tel {
          font-size: 11px;
         }
}
.icons {
    display: flex;
    gap: 16px;
}